@import "tailwindcss";

.blinking-cursor {
  display: inline-block;
  width: 1px;
  background-color: black;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
